/* Highlight Colors (20 colors) */
.cm{color:#6A9955;}
.str{color:#ce9178;}
.num{color:#b5cea8;}
.kw{color:#c586c0;}
.func{color:#4FC1FF;}
.tag{color:#569cd6;}
.attr{color:#9cdcfe;}
.bool{color:#dcdcaa;}
.op{color:#d4d4d4;}

.c1{color:#fc466b;} 
.c2{color:#3f5efb;} 
.c3{color:#ff9f1c;}
.c4{color:#2ec4b6;} 
.c5{color:#e71d36;} 
.c6{color:#8338ec;}
.c7{color:#ff006e;} 
.c8{color:#fb5607;} 
.c9{color:#00bbf9;}
.c10{color:#9b5de5;} 
.c11{color:#f15bb5;} 
.c12{color:#fee440;}
.c13{color:#00f5d4;} 
.c14{color:#00afb9;} 
.c15{color:#ef476f;}
.c16{color:#ffd166;} 
.c17{color:#06d6a0;} 
.c18{color:#118ab2;}
.c19{color:#073b4c;} 
.c20{color:#90e0ef;}
